body{
    margin: 0 auto;
    background-image: url("img/energyDrinks.jpg");
    background-repeat: no-repeat;
    background-size: 100% 900px;
}
li {
    list-style: none;
}
.container{
    width: 500px;
    height: 525px;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(44,80,80,0.7);
    margin-top: 70px;
    margin-bottom: 10px;
}

.container img {
    width: 150px;
    height: 150px;
    margin-top: -60px;
}
input[type="text"], input[type="password"]{
    margin-top: 12px;
    height: 40px;
    width: 300px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: #fff;
    padding-left: 40px;
}


.form-input::before{
    content: "\f007";
    font-family: "FontAwesome";
    padding-left: 07px;
    padding-top: 40px;
    position: absolute;
    font-size: 35px;
    color: #2980b9;
}

.form-input:nth-child(2)::before{
    content: "\f023";
}

.btn-login{
    padding: 15px 25px;
    padding-bottom: 10px;
    border: none;
    background-color: #27ae60;
    color: #fff;
}
