{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
    <header>
        <div class="container">
            <div id="branding">
                <h1><span class="highlight">Energy Drink</span> Review</h1>
            </div>
            <nav>
                <ul>
                    <li class="current"><a href="index.php">Home</a></li>
                    <li><a href="../../login.html">Login</a></li>
                    <li><a href="../../signup.html">Sign Up</a></li>
                </ul>
            </nav>
        </div>

    </header>
    <section id="left">
        <ul>
            <li>
                <div class="box">
                    <h3>Monster Energy Original</h3>
                    <a href="monsterOriginal.php"> <img src="../../img/monsterOriginal.png"></a>

                </div>
            </li>
            <li>
                <div class="box">
                    <h3>Rockstar Energy Original</h3>
                    <a href="rockstarOriginal.php"> <img src="../../img/rockstarOriginal.png"></a>
                </div>
            </li>
            <li>
                <div class="box">
                    <h3>Carabao Energy Original</h3>
                    <a href="carabaoOriginal.php"> <img src="../../img/carabaoOriginal.png"></a>
                </div>
            </li>
            <li>
                <div class="box">
                    <h3>Red Bull Energy Original</h3>
                    <a href="redbullOriginal.php"> <img src="../../img/redbullOriginal.png"></a>
                </div>
            </li>
        </ul>
    </section>
    </body>
    </html>

{% endblock %}

